@import "_variables";
@import "_functions";

body {
  margin-top: 50px;
}

h1.page-header {
  margin-top: 0;
  small {
    display: inline-block;
  }
}

div.color-box {

  width: 50px;
  height: 50px;
  border: 1px solid black;

  &.mini {
    width: 25px;
    height: 25px;
  }
}

div.palettes {
  div.colors {
    display: flex;
    > div {
      margin-right: 5px;
      width: 50px;
      height: 50px;
      border: 1px solid black;
    }
  }
}

section.list-words {

  div.word {

    display: inline-block;
    position: relative;
    border: 1px solid lightgray;
    padding: 0.5em 2em 0.5em 0.75em;
    @include rounded();
    margin: 0 5px 5px 0;

    &.drag-source {
      background-color: white;
      z-index: 99;
    }

    span.count {
      color: #505050;
      font-size: medium;
      font-weight: bold;

      span.minus, span.plus {
        cursor: pointer;
      }
    }

    span.orientation {
      cursor: pointer;
    }

    span.remove {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: x-small;
      cursor: pointer;
    }

    span.color {
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 5px;
      @include rounded-top-left();
      @include rounded-top-right();
      cursor: pointer;
    }
  }
}

div.spinner-container {

  position:fixed;
  z-index:999;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background:rgba(0,0,0,0.3);

  .spinner {
    position: relative;
    margin: 300px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }

  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
         transform: scaleY(1.0);
         -webkit-transform: scaleY(1.0);
       }
  }
}
