{%  if breadcrumb is defined %}
<ul class="page-breadcrumb">
    {% for item in breadcrumb %}
        <li>
            {% if item.url is defined %}
            <a href="{{ item.url }}">
            {% endif %}
            {{ item.title }}
            {% if item.url is defined %}
            </a>
            {% endif %}
            {%  if not loop.last %}
                <i class="fa fa-circle"></i>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}
