{% extends 'SixtyNineCloudBundle::layout.html.twig' %}

{% set curPage = 'cloud' %}
{% set pageTitle = 'Render cloud' | trans  %}
{% set pageHeader = 'Cloud' | trans  %}
{% set pageSubHeader = 'Render' | trans  %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div id="cloud">
            <img src="{{ image }}"/>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}

    <script type="text/javascript">

        $(function () {
        });

    </script>

{% endblock %}
