{% extends 'SixtyNineCloudBundle::layout.html.twig' %}

{% set curPage = 'cloud' %}
{% set pageTitle = 'Render cloud' | trans  %}
{% set pageHeader = 'Cloud' | trans  %}
{% set pageSubHeader = 'Render' | trans  %}

{% block buttons %}
    <form>
        <label class="form-checkbox">
            <input type="checkbox" data-role="show-bb" />
            <i class="form-icon"></i> {{ 'Show bounding boxes' | trans }}
        </label>
        <label class="form-checkbox">
            <input type="checkbox" data-role="show-placer" />
            <i class="form-icon"></i> {{ 'Show placer path' | trans }}
        </label>
    </form>
{% endblock %}

{% block body %}
    <div id="cloud">
        <img src="{{ image }}"/>
    </div>
{% endblock %}


{% block javascripts %}

    {%- include 'SixtyNineCloudBundle:Components:js-startup.html.twig' -%}

    <script type="text/javascript">

        SnCloud.fn.startup().then(function () {
            new SnCloud.Views.ViewCloudView({cloudId: {{ cloud.id }}}).render();
        });

    </script>

{% endblock %}
